# .env.example
VITE_SUPABASE_URL=https://ktwpkupqubpdkcspbwhe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt0d3BrdXBxdWJwZGtjc3Bid2hlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0NDY0MzEsImV4cCI6MjA5NDAyMjQzMX0.vQ9sebgVI-slAYO7N4Xcb25HSZI-Cf98t3gcejF6Dkw
